body{
    background-color: bisque;
}
#STO{
    height: 100px;
    width:100px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left:700px;
}
#seraph{
    height: 600px;
    width: 1000px;
    border: 5px solid gold;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin: 10px;
    margin-left:250px;
}
#record{
    height: 500px;
    width: 800px;
    border: 5px solid purple;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin: 10px;
    margin-left:350px;
}

#t1{
    height: 100px;
    width:100px;
    border: 2px solid black;
    border-radius: 50%;
    
}
#t2{
    height: 100px;
    width:100px;
    border: 2px solid black;
    border-radius: 50%;
    
}
#t3{
    height: 100px;
    width:100px;
    border: 2px solid black;
    border-radius: 50%;
    
}
#t1:hover{
    background-color: beige;
    box-shadow: 10px 10px 10px rgb(35, 143, 194);
}
#t2:hover{
    background-color: rgb(217, 4, 4);
    box-shadow: 10px 10px 10px rgb(207, 10, 10);
}
#t3:hover{
    background-color: rgb(177, 76, 224);
    box-shadow: 10px 10px 10px rgb(177, 76, 224);
}
h1 {
  text-align: center;
}
form{
    width: 350px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    gap:10px;
    background-color: blanchedalmond;
    backdrop-filter: blur(10px);
}
input{
    width: 80%;
    box-sizing: border-box;
    padding: 14px 16px;
    background-color: blanchedalmond;
    transition: 0.3s ease;
}
button{
    padding:10px;
    font-weight:bold;
    cursor: pointer;
}
table{
    text-align: center;
    margin-left: 270px;
}
li{
    margin-left: 670px;
}
#aka{
    height: 400px;
    width: 1000px;
    border: 5px solid purple;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin: 10px;
}